@use '../../styles/index.scss' as *;
.header{
  background-color:$color-000000;
  &__inner{
    @extend .p-2;
    display:flex;
    align-items:center;
    justify-content:space-between;
    @include for-mobile{
      padding:1rem 1.5rem;
    }
  }
  &__left{
    
  }
  &__right{
    
  }
}
.logo{
  @extend .font-3;
  color:$color-ffffff;
  @include for-mobile{
    font-size:2rem;
  }
}